.videoFooter{
    position: relative;
    bottom: 20%;
    color: white;
    margin-left: 30px;
    padding: 20px;
    
}



.videoFooter__text h3{
    padding-bottom: 20px;
    text-shadow:-2px 1px 4px black;
}

.videoFooter__text p{
    padding-bottom: 20px;
    text-shadow:-2px 1px 4px black;
}

.videoFooter__music{
    display: flex;
    margin-bottom: 45px;
}

.videoMusicFooter__text{
    text-shadow:-2px 1px 4px black;
    width: 70%;
    overflow-x: hidden;  
}

.videoMusicFooter__text p{
    text-shadow:-2px 1px 4px black;
    animation: moveTheText 3s infinite linear;  
}

.videoFooter__record{
    animation: spinTheRecord 4s infinite linear;
    position: absolute;
    bottom: 20%;
    right: 20px;
    height: 42px;
    filter: invert(1);
}

@keyframes spinTheRecord{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

@keyframes moveTheText{
    0%{
        transform: translateX(100%);
    }
    100%{
        transform: translateX(-100%);
    }
}
@media only screen and (max-width: 440px) {
    .videoFooter{
        bottom: 22%;
      height: 100vh;
    }
    .videoMusicFooter__text{
        width: 78%;
    }
   }